<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <h2>Editing Book</h2>
      <%= render 'layouts/post_error_notice', object: @book %>

      <%= form_with model:@book, local:true do |f| %>
        <lable for="inputTitle">Title</lable>
        <%= f.text_field :title, autofocus: true, id:"inputTitle", class: "form-control" %>
        <lable for="inputBody">Opinion</lable>
        <%= f.text_area :body, autofocus: true, id:"inputBody", class: "form-control" %>
        <%= f.submit "Update Book", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>