<%= render 'books/new', books: @book %>
<h1>Books</h1>
<% @books.each do |book| %>
  <%= attachment_image_tag book.user.profile_image, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= book.user.name %>
  <%=link_to book.title, book_path(book.id) %>
  <%= book.body %>
<% end %>